/* place your custom CSS overrides here */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.page-wrapper {
	background-color: #fff;
}

a {
    color: #25d3d0;
}

.content h1 {
	border-top: none;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
    font-weight: normal;
    color: #25d3d0;
}

.content h2 {
    border-top: 01px solid #eee;
    padding-bottom: 0.2em;
    background-image: linear-gradient(to bottom, rgba(236, 236, 236, 0.2), rgba(255, 255, 255, 0));
    font-weight: normal;
}

.content h4 {
	font-size: 15px;
}

.content > aside {
    margin-right: 52%;
    margin-left: 2%;
    padding: 16px;
    border-radius: 8px;
}

.content aside.warning {
	background-color: #ff000010;
}

.content aside.warning::before {
    content: none;
}

.toc-wrapper {
    background-color: #ffffff;
    border-right: 1px solid #eee;
}

.toc-h1.toc-link {
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.toc-link, .toc-footer li {
    color: #333333;
    font-size: 1.1rem;
    font-weight: normal;
}

.toc-wrapper .logo {
    padding: 18px 24px 10px;
    width: 80%;
}

#toc {
    margin-top: 1rem;
}

.toc-wrapper .toc-list-h2 {
	background-color: #ffffff;
}

.toc-wrapper .toc-link.active {
	background-color: #f7f7f7;
    color: #25d3d0;
    border-right: 2px solid #25d3d0;
}

.toc-wrapper .toc-link.active-parent {
    background-color: #f1f1f1;
	color: #25d3d0;
}

.toc-wrapper > .search input {
	background: #f7f7f7;
	border: 1px solid #cccccc;
	color: #777777;
    border-radius: 6px;
    font-weight: normal;
    padding-left: 26px;
}

.toc-wrapper > .search::before {
    left: 24px;
    top: 19px;
	color: #25d3d0;
}

.toc-wrapper .search-results a {
	color: #25d3d0;
	font-weight: normal;
}

.toc-wrapper .toc-footer {
	border-top: none;
}

.content table tr:last-child {
	border-bottom: none;
}

.content table th {
	border-bottom: 1px solid #e7e7e7;
	text-transform: uppercase;
    font-size: 11px;
    color: #aaa;
}

.content table td:first-child  {  
    font-weight: bold;
}

.content table tr:nth-child(2n) > td {
	background-color: #f7f7f7;
}

.content blockquote > p {
	color: #25d3d0;
}

div .highlight {
	max-width: 46%;
	max-height: 400px;
	margin: 2%;
}

.content p code {
	padding: 10px 10px 6px 10px;
	font-weight: bold;
	border: 1px solid #dddddd;
}

.lang-selector a.active {
	color: #25d3d0;
	border-top: 2px solid #25d3d0;
	line-height: 26px;
	padding-bottom: 2px;
}

h1#shotstack {
	color: #333;
    font-size: 40px;
    font-weight: lighter;
    text-transform: capitalize;
}

h1#shotstack::after {
    content: " API Reference";
}